/*<div class="global" id="inscription">
<section>
    <h2>Inscription</h2>
    <form action="" class="formulaire">
        <label class="etiquette__nom" for="input__nom">Nom</label>
        <input type="text" class="input__nom">
        <label class="etiquette__prenom" for="input__prenom">Prenom</label>
        <input type="text" class="input__prenom">
        <label class="etiquette__tel" for="input__tel">Telephone</label>
        <input type="text" class="input__tel">
    </form>
</section>
</div>*/

.formulaire {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulaire label {

}

.formulaire input[type=text] {
    width: 400px;
}

.form__chk {
    display: flex;
    gap: 5px;
}

.form__chk label {
    padding-left: 25px;
}

