/*
    <input type="checkbox" id="chk_burger">
    <label id="burger" for="chk_burger">
        <img src="https://s2.svgbox.net/hero-solid.svg?ic=adjustments" width="32" height="32">
    </label>

    <nav class="menu">
    <a href="#acceuil">Acceuil</a>
    <a href="#inscription">Inscription</a>
    <a href="#galerie">Galerie</a>
    </nav>
*/

#chk_burger {
    display: none;
}

/* translation du menu */
#chk_burger:checked ~ .menu {
    transform: translate(0, -340px);
}

#chk_burger:checked ~ #burger img:nth-of-type(1) {
    display: block;
}

#chk_burger:checked ~ #burger img:nth-of-type(2) {
    display: none;
}

#burger {
    width: 40px;
    position: absolute;
    margin-left: auto;
    top: 14px;
    right: 10px;
    z-index: 10;
}

#burger img {
    position: absolute;
    right: 0;
}

#burger img:nth-of-type(2) {
    display: block;
}

#burger img:nth-of-type(1) {
    display: none;
}

.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform 0.75s;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    gap: 5px;
    margin-right: 40px;
}

.menu a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);;
    padding: 5px;
}

.menu a:hover {
    font-weight: 900;
    font-size: large;
}

